/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
XXbody {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

Xbody,Xhtml { height:100%; width:100%; }

td {
  padding: 12px;
}

h2 {
  color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }


.link {
    fill: none;
    stroke: #7bb9fe;
    stroke-width: 3.5px;
}

.linkY {
    fill: none;
    stroke: #999999;
    stroke-width: 0.5px;
}

#suit {
  fill: #7bb9fe;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
    stroke-width: 3.5px;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

._circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

._comment {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

._comment rect {
    fill: white;
    stroke-width: 0;
}

._comment .labelText {
    font-size: 0.4em;
}

._icon {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

._icon .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 25px;
}

._icon .labelText {
    fill: black;
    stroke-width:0;
    font-size: 0.5em;
}

._lifecycle {
    fill: #FFA500;
    stroke: #FF8C00;
    stroke-width: 1.5px;
}

._lifecycle .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 15px;
}

._lifecycle .labelText {
    fill: black;
    stroke-width:0;
    font-size: 0.35em;
    font-family: Arial;
}

._lifecycle .arrow {
    stroke: #FF8C00;
    stroke-width: 1.5px;
}

._end_lifecycle {
    fill: #FF8C00;
}


._minicircle {
    fill: #1bb9fe;
}

._hex {
    fill: #475cfe;
    stroke: #475cfe;
    stroke-width: 2px;
}

._hex text {
    fill: white;
    stroke: #333;
    stroke-width: 0px;
}

._rectangle {
    fill: rgb(246,213,185);
    stroke: #999999;
    stroke-width: 0px;
}

._rectangle text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
    font-size: .6em;
}

._buildingBlock {
    fill: rgb(246,213,185);
}


._buildingBlock rect {
    stroke-width: 0px;
    stroke: #999999;
}

._buildingBlock text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._buildingBlock text.solution {
    font-size: 0.6em;
}

._buildingBlock text.role {
    font-size: 0.45em;

}

._stackSolution {
    fill: rgb(206,213,185);
    stroke: #999999;
    stroke-width: 0.5px;
}

._stackSolution rect {
    rx: 6;
    ry: 6;
}

._stackSolution text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._stackSolution text.solution {
    font-size: 0.5em;
}

._stackedBuildingBlock {
    fill: rgb(246,213,185);
}

._stackedBuildingBlock rect {
    stroke: #999999;
    stroke-width: 0.2px;
}

._stackedBuildingBlock text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._stackedBuildingBlock text.solution {
    font-size: 0.6em;
}

._stackedBuildingBlock text.role {
    font-size: 0.45em;
}

._stackedBuildingBlockMicro {
    fill: rgb(255,255,255);
}

._stackedBuildingBlockMicro rect {
    stroke: #999999;
    stroke-width: 0.2px;
}

._stackedBuildingBlockMicro text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._stackedBuildingBlockMicro text.solution {
    font-size: 0.4em;
}

._stackedBuildingBlockMicro text.role {
    font-size: 0.20em;
}

._table text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._table .title {
    font-size:0.40em;
}

._table .header {
    font-size:0.28em;
}

._table .cell {
    font-size:0.32em;
}

._sphereSection text.title {
  font-family: 'Arial';
  font-size:0.40em;
  fill:black;
}

._sphereSection text.bulletItem {
  font-family: 'Arial';
  font-size:0.40em;
  fill:black;
}


._underlay text.center {
  font-family: 'Arial';
  font-size:0.60em;
  fill:black;
}

._underlay text.title {
  font-family: 'Arial';
  font-size:0.40em;
  fill:black;
}

._underlay text.bulletItem {
  font-family: 'Arial';
  font-size:0.50em;
  fill:black;
}

._underlay .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 25px;
}

._underlay .labelText {
    fill: black;
    stroke-width:0;
    font-size: 0.5em;
}


._buildingBlockMicro {
    fill: rgb(255,255,255);
}

._buildingBlockMicro rect {
    stroke: #999999;
    stroke-width: 0.2px;
}

._buildingBlockMicro text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._buildingBlockMicro text.solution {
    font-size: 0.4em;
}

._buildingBlockMicro text.role {
    font-size: 0.25em;
}


._stackSolutionMicro {
    fill: rgb(255,255,255);
}

._stackSolutionMicro rect {
    stroke: #999999;
    stroke-width: 0.2px;
}

._stackSolutionMicro text {
    fill: black;
    stroke: white;
    stroke-width: .01em;
    font-weight: bold;
    font-family: 'Arial';
}

._stackSolutionMicro text.solution {
    font-size: 0.4em;
}


._verticalLabel text.role {
    font-size: 0.45em;
    font-family: 'Arial';
}

.nodetext {
    fill: black;
    stroke: #333;
    stroke-width: 0px;
}

.node-hover {
    fill: #7bb9fe;
}

XXtext {
    font: 9px sans-serif;
    font-weight: bold;
    color: #7bb9fe;
    pointer-events: none;
    IGNORE-text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.editor {
    border: 1px solid #CCCCCC;
    width: 400px;
    height: 200px;
}

.canvas {
    fill:white;
    border:0px solid #999999;
    display:block;
}

.title {
    fill: black;
    font: 9px sans-serif;
    font-weight: bold;
}

.realtime {
    margin-top:20px;
    width:600px;
    height:300px;
    border:5px solid #999999;
    overflow:scroll;
}

.swimlane {
    margin:5px;
    fill: white;
    stroke: #333;
    stroke-width: .2;
    x-stroke-dasharray: 5.5;

}

.segment {
    margin:5px;
    fill: rgb(180,200,165);
    stroke: #333;
    stroke-width: 0;
    x-stroke-dasharray: 5.5;
    rx: 6;
    ry: 6;
}

.applicationStack {
    fill: white;
    stroke: #333;
    stroke-width: 0;
    x-stroke-dasharray: 5.5;
    rx: 6;
    ry: 6;
}

.securityStack {
    fill: white;
    stroke: #333;
    stroke-width: 0;
}

.environment {
    margin:5px;
    fill: white;
    stroke: #333;
    stroke-width: 0.03em;
    x-stroke-dasharray: 5.5;
}

.swimlaneOdd {
    fill: white;
}

.nav-hover {
    fill: #999999;
}

svg {
  fill:white;
}


._multiItemSection text.title {
    fill: black;
    font-size: 0.3em;
    font-weight: normal;
    font-family: 'Arial';
}


._shapedItem text.title {
    fill: black;
    font-size: 0.4em;
    font-weight: normal;
    font-family: 'Arial';
}


._shapedItemVertical text {
    fill: black;
    font-weight: normal;
    font-family: 'Arial';
}

._shapedItemVertical text.solution {
    font-size: 0.4em;
}

._shapedItemVertical text.role {
    font-size: 0.30em;
}

._zone text {
  fill:black;
  font-size: 0.4em;
}

._zone rect {
    stroke: #333;
    stroke-width: 0.05em;
    stroke-dasharray: 5.5;
    fill:none;
}

._zone rect.bg {
    stroke-width: 0;
    fill: #EFEFEF;
}

._zone rect {
    stroke: #333;
    stroke-width: 0.05em;
    stroke-dasharray: 5.5;
    fill:none;
}

